<div id="wrapper" class="active">
  <div id="sidebar-wrapper">
    <ul id="sidebar_menu" class="sidebar-nav">
      <li class="sidebar-brand">
         <a id="menu-toggle" href="#">
            <div style="position:relative; width:100%; height:100px; padding-top: 20px;">
              <img src="http://graph.facebook.com/v2.6/10208827049106096/picture" style=" border-radius: 100%; margin-left: auto; margin-right: auto; display: block;"><br/>
            </div>
          </a>
      </li>
    </ul>
    <div class="sidebar-center" style="padding-left: 10%;">
      <ul class="sidebar-nav" id="sidebar" style="padding-top: 20px;">
      <li style="padding-top: 20px;"><i class="fa fa-home fa-2x gold-text" aria-hidden="true"></i></li>
      <li style="padding-top: 20px;"><i class="fa fa-cog fa-2x white-text" aria-hidden="true"></i></li>
    </div>
  </div>
  <script type="text/javascript">
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("active");
    });
  </script>
  <div id="page-content-wrapper">










<div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4 statistic-container">
          <div class="statistic-data">
            <div class="row float-right" style="padding-right: 10px;">?</div>
            <div style="padding: 40px 40px;">
              <span class="gray-text">followers score</span><br />
              <span style="font-size: 60px;"> 77</span>
              <span style="font-size: 20px;" class="gray-text"> points</span>
            </div>

            <div class="row" style="padding-top: 40px;">
              <div class="col-sm-4">
                <span style="font-size: 13px;" class="purple-text">4321 follower</span>
                <p style="font-size: 12px;" class="gray-text">current total</p>
              </div>
              <div class="col-sm-4">
                <span style="font-size: 13px;" class="purple-text">-2 followers</span>
                <p style="font-size: 12px;" class="gray-text">dialy average</p>
              </div>
              <div class="col-sm-4">
                <span style="font-size: 13px;" class="purple-text">-30 followers</span>
                <p style="font-size: 12px;" class="gray-text">montly average</p>
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-4 statistic-container">
          <div class="statistic-data">
            <div class="row float-right" style="padding-right: 10px;">?</div>
            <div style="padding: 40px 40px;">
              <span class="gray-text">engagement score</span><br />
              <span style="font-size: 60px;"> 77</span>
              <span style="font-size: 20px;" class="gray-text"> points</span>
            </div>

            <div class="row" style="padding-top: 40px;">
              <div class="col-sm-4">
                <span style="font-size: 13px;" class="green-text">4321 follower</span>
                <p style="font-size: 12px;" class="gray-text">current total</p>
              </div>
              <div class="col-sm-4">
                <span style="font-size: 13px;" class="green-text">-2 followers</span>
                <p style="font-size: 12px;" class="gray-text">dialy average</p>
              </div>
              <div class="col-sm-4">
                <span style="font-size: 13px;" class="green-text">-30 followers</span>
                <p style="font-size: 12px;" class="gray-text">montly average</p>
              </div>
            </div>
          </div>
       </div>
        <div class="col-md-4 statistic-container">
          <div class="statistic-data">
            <div class="row float-right" style="padding-right: 10px;">?</div>
            <div style="padding: 40px 40px;">
              <span class="gray-text">activity score</span><br />
              <span style="font-size: 60px;"> 77</span>
              <span style="font-size: 20px;" class="gray-text"> points</span>
            </div>

            <div class="row" style="padding-top: 40px;">
              <div class="col-sm-4">
                <span style="font-size: 13px;" class="blue-text">4321 follower</span>
                <p style="font-size: 12px;" class="gray-text">current total</p>
              </div>
              <div class="col-sm-4">
                <span style="font-size: 13px;" class="blue-text">-2 followers</span>
                <p style="font-size: 12px;" class="gray-text">dialy average</p>
              </div>
              <div class="col-sm-4">
                <span style="font-size: 13px;" class="blue-text">-30 followers</span>
                <p style="font-size: 12px;" class="gray-text">montly average</p>
              </div>
            </div>
          </div>
        </div>
      </div>


       <div class="row">
        <div class="col-md-4 statistic-container">
          <div class="statistic-data">
            <div class="row float-right" style="padding-right: 10px;">?</div>
            <div class="legitimacy-score" style="width: 100%; text-align: center; padding-top: 70px">
              <p style="font-size: 20px;" class="gold-text"> LEGITIMACY SCORE</p>
            </div>
            <div class="legitimacy-score" style="width: 100%; text-align: center; padding-top: 10px">
              <span style="font-size: 60px;"> 77</span>
              <span style="font-size: 20px;" class="gray-text"> /20</span>
            </div>
            <div >
              <div class="ldBar" data-preset="rainbow" data-value="77"></div>
            </div>
          </div>
        </div>
        <div class="col-md-8 statistic-container">
          <div class="statistic-data">
            <div style="padding: 20px 60px;">
            <table style=" text-align:center; vertical-align:middle; width: 100%;">
              <thead>
                <th class="gold-text">Date</th>
                <th class="gold-text">Followers</th>
                <th class="gold-text"></th>
                <th class="gold-text">Following</th>
                <th class="gold-text"></th>
                <th class="gold-text">Media</th>
                <th class="gold-text"></th>
              </thead>
              <tbody>
                <tr style="height: 20px;"><td></td></tr>
                <tr>
                  <td>02-01-2018</td>
                  <td>4320</td>
                  <td>+32</td>
                  <td>3800</td>
                  <td>+44</td>
                  <td>234</td>
                  <td>+21</td>
                </tr>
                <tr>
                  <td>02-01-2018</td>
                  <td>4320</td>
                  <td>+32</td>
                  <td>3800</td>
                  <td>+44</td>
                  <td>234</td>
                  <td>+21</td>
                </tr>
                <tr>
                  <td>02-01-2018</td>
                  <td>4320</td>
                  <td>+32</td>
                  <td>3800</td>
                  <td>+44</td>
                  <td>234</td>
                  <td>+21</td>
                </tr>
                <tr>
                  <td>02-01-2018</td>
                  <td>4320</td>
                  <td>+32</td>
                  <td>3800</td>
                  <td>+44</td>
                  <td>234</td>
                  <td>+21</td>
                </tr>
                <tr>
                  <td>02-01-2018</td>
                  <td>4320</td>
                  <td>+32</td>
                  <td>3800</td>
                  <td>+44</td>
                  <td>234</td>
                  <td>+21</td>
                </tr>
                <tr>
                  <td>02-01-2018</td>
                  <td>4320</td>
                  <td>+32</td>
                  <td>3800</td>
                  <td>+44</td>
                  <td>234</td>
                  <td>+21</td>
                </tr>
                <tr>
                  <td>02-01-2018</td>
                  <td>4320</td>
                  <td>+32</td>
                  <td>3800</td>
                  <td>+44</td>
                  <td>234</td>
                  <td>+21</td>
                </tr>
              </tbody>
            </table>
            </div>
          </div>
       </div>
      </div>



       <div class="row">
        <div class="col-md-6 statistic-container">
          <div class="statistic-data last-three ad-column">
          <h6>Advertisement block</h6>

          </div>
        </div>
        <div class="col-md-3 statistic-container">
          <div class="statistic-data last-three">
            <div class="user-info">
              <div>
                <b>@roy_selbach</b>
              </div>
              <table>
                <tr>
                  <td><b>Full Name</b></td>
                  <td>Roy Selbach</td>
                </tr>
                <tr>
                  <td><b>Id</b></td>
                  <td>22346545463</td>
                </tr>
                <tr style="height: 10px;"><td></td></tr>
                <tr>
                  <td><b>Following</b></td>
                  <td>1130</td>
                </tr>
                <tr>
                  <td><b>Followers</b></td>
                  <td>1876</td>
                </tr>
                <tr>
                  <td><b>Uploaded</b></td>
                  <td>271</td>
                </tr>
              </table>
            </div>
          </div>
       </div>
        <div class="col-md-3 statistic-container">
          <div class="statistic-data last-three">
            <img src="https://vignette.wikia.nocookie.net/sote-rp/images/c/c4/User-placeholder.png/revision/latest?cb=20150624004222"/>
          </div>
        </div>
      </div>

    </div>














  </div>

</div>