<footer class="footer">
  <div class="container">
    <span class="text-muted span-align-center" style="">Copyright &copy; <%= Date.today.year.to_s %> - Topaz | All Rights Reserved</span>
  </div>
</footer>