<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">LOGO</h3>
    <nav class="nav nav-masthead">
      <a class="nav-link" href="#">REGISTER/LOGIN</a>
    </nav>
  </div>
</div>
<div class="container">
  <div class="inner cover">
    <h1 class="cover-heading">CHECK THE LEGITIMACY</h1>
    <h1 class="cover-heading">OF INSTAGRAM ACCOUNTS</h1>
  </div>
  <div class="form-cover">
    <form style="width: 54%">
      <input type="text" placeholder="Search">
      <button type="submit">Search</button>
    </form>
  </div>
</div>

<div class="mastfoot">
  <div class="inner">
    <p>footer</p>
  </div>
</div>