<div class="header">

</div>

<div class="form-holder">
  <div class="container">
    <h3 class="gold-text">CHECK THE LEGITIMACY</h3><h3 class="white-text">OF INSTAGRAM ACCOUNTS</h3>
  </div>
  <div class="form-inline" style="padding-top: 20px;">
    <%= form_tag '/statistics', class: "statistic-form" do |f| %>
      <input type="text" name="search_id" style="width: 400px;" />
      <input type="submit" name="submit" >
    <% end %>
  </div>
</div>


<style type="text/css">
    .header{
      width: 100%;
      height: 75px;
      background-color: #000000;
    }

    .form-holder{
      background-color: #000000;
      width: 100%;
      height: 400px;
    }
    .container{
      width: 600px;
      text-align: center;
      border: 3px solid white;
    }
    .statistic-form{
      margin: 0 auto;
      width:480px;
    }
</style>